nav
    width: 100%
    height: 15vh

    display: flex
    justify-content: space-around
    align-items: center


    .cart
        padding: .8rem 1rem
        margin-left: 10vw

        background-color: #fff3d5
        border-radius: 99rem
        cursor: pointer

        &:hover
            transform: scale(1.08)

        svg
            width: 20px
